
/*Foundational Three*/
main,.maincontainer {
    max-width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

/*Mobile Rules*/
html,body {
    all:initial;
}

/*override for laptops/small screens*/
@media screen and (min-width: 981px) and (max-width: 1400px) {

}

/*override for tablets*/
@media screen and (min-width: 601px) and (max-width: 980px) {

}

/*override mobile devices*/
@media screen and (min-width: 370px) and (max-width: 600px) {

}

.padingLR {
    padding-left: 25px;
    padding-right: 25px;
}

img {
    width: 60%;
    max-width: 250px;
    display: block;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-position: inside;
}

.center-page {
    box-sizing: border-box;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;
}

.automargintext {
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    font-style: italic;
}

body {
    width: 100%;
    max-width: 600px;
    font-family: Georgia, Arial;
    background-color: rgb(244, 176, 86);
    color: rgb(72, 33, 16);
}

.indent {
    margin-left: 7%;
    margin-right: 7%;
}

.indent-right {
    margin-right: 7%;
}

a {
    color: rgb(104, 44, 62);
}

hr {
    border-color: rgb(69, 58, 0);
}

table {
    width: 90%;
    border-collapse: collapse;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

ol {
    margin-left: -50px;
}

.push-left {
    margin-left: -50px;
}

th {
    background-color: #965204;
    color: white;
}

tr:nth-child(even) {
    background-color: #dedddd;
}

tr:nth-child(odd) {
    background-color: #fff;
}

tfoot th {
    text-align: right;
}

figure {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  caption {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .tiny {
    font-size: 10px;
  }

  .btn {
    background-color: rgb(105, 7, 0);
    color: white;
  }

  form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f4c991;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .bold-label {
    font-weight: bold;
  }



