<h1>Grayson Nickel Ghastly Newt || ITIS-3135</h1>
<nav class="center">
    <a href="../itis3135/index.html">Home</a>
    <a href="introduction.html">Introduction</a>
    <a href="Contract.html">Contract</a>
    <a href="about.html">Company</a>
    <a href="website_evaluations.html">Website Evaluations</a>
    <a href="tables.html">HTML Tables</a>
    <a href="forms.html">HTML Form</a>
    <a href="../index.html">Back to Main Site</a>
    <a href="../../itis3135/project/client_project_1/index.html">Client Project Part 1</a>
<hr>
    <a href="stuff/STUPID! WEBPAGE.htm">Crappy Webpage</a>
</nav>